services:
  server:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: development
    ports:
      - "8080:8080" # application port
      - "8000:8000" # debug port (JDWP)
    depends_on:
      db:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://db:5432/postgres"
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "123"
    restart: unless-stopped

  db:
    image: postgres:18
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "123"
    ports:
      - "5432:5432" # map host 5432 -> container 5432
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  test-runner:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: package
    depends_on:
      db:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://db:5432/postgres"
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "123"
    command: ["/bin/sh","-c","./mvnw test"]
    restart: "no"

volumes:
  pgdata: